body{
    margin: 0;
    padding: 0;
    color: #444;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

#NavbarLogo{
    width: 110px;
    height: 60px;
    background-color: #D92D2E;
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

#NavbarLogo::after { 
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50px;
    left: 100px;
    background-image: url('../cornerW.svg');
    display: block;
    transform: rotate(180deg);
}

.NavBarNav{
    width: calc(100% - 110px);
    border-bottom: 1px solid #eee;
}

.NavBarNav > li{
    color: #444;
    width: 100px;
    height: 50px;
    display: inline-block;
    text-align: center;
    list-style: none;
    line-height: 50px;
    margin: 0 0px;
    padding: 0;
    transition-duration: 0.2s;
}

.NavBarNav > li:hover {
    background-color: #D92D2E;
    color: #fff;
    text-decoration: none;
    height: 50px;
    transition-duration: 0.2s;
}

.NavBarNav > li a:after{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    top: -50px;
    left: 0px;
    background-image: url('../cornerW.svg');
}

.NavBarNav > li:after{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    top: -10px;
    left: 90px;
    background-image: url('../cornerW.svg');
    transform: rotate(180deg);
}

.clear{
    clear: both;
}

li > a {
    color: #444;
    display: block;
    text-decoration: none;
    height: 50px;
    transition-duration: 0.2s;
}

li > a:hover{
    text-decoration: none;
    color: #fff;
}

li > a:focus{
    text-decoration: none;
    color: #444;
}

#content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

article.BigArticleLink{
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
    background-color: #eee;
}

article.BigArticleLink:before{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 45px;
    left: 45px;
    background-image: url('../cornerW.svg');
    transform: scale(10, 10);
}

.tags{
    display: block;
    background-color: #D92D2E;
    color: #fff;
    height: 30px;
    line-height: 10px;
    width: 400px;
    position: absolute;
    text-transform: uppercase;
}

.BigArticleLink a{
    color: #444;    
}

.BigArticleLink .tags{
    right: 0;
    bottom: 175px;
}

.ArticleLinkPicture .tags{
    right: 0px;
    bottom: 0px;
}

.tags::before{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    left: -20px;
    background-image: url('../corner.svg');
    transform: rotate(180deg) scale(3,3);
}

.tags > ul{
    position: absolute;
    right: 10px;
}

.tags > ul > li{
    display: inline;
    line-height: 30px;
}

.tags > ul > li::before{
    content: "#";
}

.linkText{
    width: 600px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
}

.title{
    display: block;
    background-color: #fff;
    width: 500px;
    height: 100px;
    position: absolute;
    bottom: 75px;
    right: 0;
    padding: 1px 10px;
}

.title > h2{
    line-height: 100px;
    margin: 0;
}

.title::before{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 45px;
    left: -55px;
    background-image: url('../cornerW.svg');
    transform: rotate(180deg) scale(10, 10);
}

.desc{
    display: block;
    background-color: #fff;
    width: 600px;
    height: 75px;
    padding: 1px 10px;
    text-align: justify;
}

.ArticleLink{
    width: 100%;
    height: 250px;
    margin: 20px 0;
}

.ArticleLink  .ArticleLinkPicture{
    display: block;
    width: 49%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    transition-duration: 0.2s;
    position: relative;
}

.ArticleLink:hover .ArticleLinkPicture{
    background-size: 110%;
    transition-duration: 0.2s;
}

.ArticleLink  .ArticleLinkText{
    display: block;
    width: 49%;
    height: 100%;
    margin-left: 2%;
    float: left;
    color: #444;
    transition-duration: 0.2s;
}

.ArticleLink:hover .ArticleLinkText h2{
    color: #D92D2E;
    transition-duration: 0.2s;
}

.ArticleLink p{
    text-align: justify;
}

.ArticleLink a{
    text-decoration: none;
    color: #444;
}

footer{
    height: 200px;
    background-color: #D92D2E;
    color: #fff;
    position: relative;
    padding: 35px;
    padding-left: 200px;
}

footer a{
    color: #fff;
}

footer:before{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 95px;
    left: 70px;
    background-image: url('../cornerW.svg');
    transform: scale(20);
}

footer:after{
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 95px;
    left: 20px;
    background-image: url('../corner.svg');
    transform: scale(20);
}