

.navBar{
	height: 50px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	top: 0;
	border-bottom: 2px solid #edefff;
}

.navBar a{
	display: block;
	text-decoration: none;
	color: #333;
	font-size: 1.2em;
	text-transform: uppercase;
	line-height: 50px;
}

.navBar li{
	margin-right: 10px;
	padding: 0 20px;
}

.navBar li:hover{
	background-color: #dee;
}

#image{
	width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("bck.jpg");
	padding-top: 235px;
	color: #fff;
	text-align: center;
}

#image > h1{
	font-size: 3em;
}

.offers{
	margin: 20px 0;
}

.offer{
	border: 2px solid #fff;
	box-shadow: 5px 5px 10px 2px #BFBFBE;
	background-color: #fff;
}

.offerContent{
	text-align: center;
	padding: 10px;
}

.price{
	color: #da0a4b;
	margin: 20px;
}

.offer h3 {
	margin: 0;
	padding: 0;
}

.line{
	width: 100%;
	height: 5px;
	background-color: #da0a4b;
}

.lineB{
	background-color: #3c8cff;
}

.text{
	padding: 10px;
	text-align: justify;
	height: 300px;
}

.footer{
	background-color: #3c8cff;
	color: #fff;
<<<<<<< HEAD
	padding: 10px;
}

=======
	padding: 10px 50px;
}

.opinion{
	height: 200px;
}

.ppl{
	margin: 50px;
}

.user{
	font-size: 20px;
	margin: 0 !important;
}

.imageP{
	margin: 25px;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	float: left;
	background-size: cover;
    background-position: center;
	box-shadow: 5px 5px 10px 2px #BFBFBE;
}

.quote{
	line-height: 30px;
    font-size: 30px;
    font-style: italic;
    float: left;
}

.quote > p{
	margin: 85px 10px 0 10px;
}

#pp0{
	background-image: url("ppl0.jpg");
}

#pp1{
	background-image: url("ppl1.jpg");
}

#pp2{
	background-image: url("ppl2.jpg");
}

#pp3{
	background-image: url("ppl3.jpg");
}
>>>>>>> add56a1f33817d7398b52f81ba042b65c3e5bbc7
